@use '../base/colors';
@use '../base/types';
@use '../base/mixins';






.gallery {
  &__img {
    padding:  types.$spacerS 0;
    margin: 0 auto;
    position: relative;
  }

  &__mobile {
display: flex;
    align-items: center;
    flex-direction: column;

    @include mixins.tablet {
      display: none;
    }

  }

  &__carousel {
    display: none;

    @include mixins.tablet {
      display: block;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}